<div class="row">
  <div class="col-md-3">
    <div class="card">
      <img
        class="card-img-top h-50"
        alt="Imagem da Pessoa"
        src="{{ contact.picture.large }}"
      />
      <div class="card-body">
        <h5 class="card-title">
          {{ contact.name.first + ' ' + contact.name.last | titlecase }}
        </h5>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="card">
      <div class="card-body">
        <div class="form-group">
          <label for="usuario">Usuário</label>
          <input
            class="form-control"
            type="text"
            value="{{ contact.login.username }}"
          />
        </div>
        <div class="form-group">
          <label for="usuario">Email</label>
          <input class="form-control" type="text" value="{{ contact.email }}" />
        </div>
        <div class="form-group">
          <label for="usuario">Idade</label>
          <input
            disabled
            class="form-control"
            type="number"
            value="{{ contact.dob.age }}"
          />
        </div>
      </div>
    </div>
  </div>
</div>
