<!--The content below is only a placeholder and can be replaced.-->
<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/primeiro']" routerLinkActive="active"
      >Primeiro</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/segundo']" routerLinkActive="active"
      >Segundo</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/contatos']" routerLinkActive="active"
      >Contatos</a
    >
  </li>
</ul>
<div class="container">
  <router-outlet></router-outlet>
</div>
